@mixin sans($size, $weight, $style)
  font-family: "Source Sans Pro", sans-serif
  font-size: $size
  font-weight: $weight
  font-style: $style

@mixin droid($size, $weight, $style)
  font-family: 'Droid Serif', serif
  font-size: $size
  font-weight: $weight
  font-style: $style
