%section.login-form
  %header.title
    %h2 Login to Admin Panel
  .inner
    = form_tag session_path, :class => "form" do
      .group
        =label_tag :email
        =text_field_tag :email, nil, placeholder: "Email"
      .group
        =label_tag :password
        =password_field_tag :password, nil, placeholder: "Password"
      .group.bottom-nav
        = submit_tag "Login"
        = link_to "Back", root_path
