article.post, section.post
  padding: 20px 0 65px 0

  header.title-box
    min-height: 145px
    position: relative
    margin-bottom: 34px

    h2
      position: absolute
      bottom: 4px
      left: 0
      width: 480px

    .title
      +sans(38px, bold, normal)
      line-height: 36px

    .publish-info
      margin-top: 5px
      color: lighten($base-text, 40%)
      +sans(14px, normal, italic)

  .content
    +sans(16px, normal, normal)
    line-height: 20px

    p
      margin-bottom: 15px

    a
      color: $secondary

      &:hover
        color: darken($secondary, 20%)

    .syntaxhighlighter
      font-size: 14px !important

.syntaxhighlighter
  padding: 10px 0
