%nav.secondary-navigation
  %ul.wat-cf
    %li.first= link_to "List", editor_posts_path
    %li.active= link_to "New", new_editor_post_path
.content
  %h2.title New Post
  .inner
    = form_for :post, :url => editor_posts_path, :html => { :class => :form } do |f|
      = render :partial => "form", :locals => {:f => f}
