- if @featured_post
  %article.post
    %header.title-box
      %h2
        .title= truncate(@featured_post.title, length: 70)
        .publish-info= @featured_post.published_at.strftime('%B %d, %Y')
    .content= raw @featured_post.content
