%head
  %meta{ :charset => 'utf-8' }/
  %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/

  %title= "Milan Nasevic"

  %meta{ :content => "Software developer", :name => "description" }
  %meta{ :content => "milan nasevic, milan, nasevic, software, develpoer, ruby, rails, ruby on rails, html, html5, css3, jquery, backbone.js, sass, coffeescript, vim, git", :name => "keywords" }/
  %meta{ :content => "Milan Nasevic", :name => "author" }/
  %meta{content: "width=device-width; initial-scale=1; maximum-scale=1", name: "viewport"}/

  = stylesheet_link_tag "application"

  = csrf_meta_tag
