%aside.about
  - if current_user
    %nav.user-nav
      %ul
        %li= link_to "Profile", "#"
        %li= link_to "Posts", "#"
        %li= link_to "Logout", logout_path, :method => :delete

  .info-wrapper
    =image_tag "avatar.jpg", class: 'avatar'
    %header.name
      %h2 Milan Nasevic
      .job-title Software developer
      .font-icon.email-icon=mail_to "mnasevic@gmail.com", "", class: "icon-mail"

    .info
      .description Working with Ruby, Ruby on Rails, HTML5, Git, Vim, CSS3, Sass, Compass, JQuery, JavaScript, Backbone.js, Coffeescript...
      .bracket }
      .font-icon=link_to "", "http://linkedin.com", class: "icon-linkedin"

    .info
      .description
        Folow me on GitHub and view all my projects that I'm working on blah blah blah and blah blah.
      .bracket }
      .font-icon=link_to "", "http://github.com", class: "icon-github"
